<div class="w-5/6 mx-auto max-w-screen-xl my-0">
  <div class="flex h-10 justify-center items-center my-4">
    <%= image_tag 'kibuntenkan.png', width: '400', height: '200' %>
  </div>
  <div class="flex h-30 justify-center items-center mt-10"> 
    <% if @joy.present? %>
      <div class="flex flex-col items-center mt-0">
        <div><%= @joy.name %></div>
        <div class="mt-4"><%= image_tag "#{@joy.joy_image}.png", width: '300', height: '300'%></div>
        <div class="mt-4">今日も節約気分転換でリフレッシュ！！</div>
      </div>
    <% else %>
      <div>情報が見つかりません<div>
    <% end %>
  </div>
  <div class="flex h-30 justify-center items-center gap-4 mt-2">
    <% if @joy.present? %>
      <%= link_to "https://twitter.com/intent/tweet?text=【エンジョイ節約】%0a今日の気分転換は「#{@joy.name}」%0a%23エンジョイ節約 %23ミニアプリweek%0a%0a&url=https://enjoy-setsuyaku-app.onrender.com/" do %>
        <div class="mt-4"><button class=" btn btn-error">Xでシェア</button></div>
      <% end %>
    <% end %>
    <%= link_to root_path do %>
    <div class="mt-4"><button class="btn btn-info">ホームに戻る</button></div>
    <% end %>
  </div>
</div>