<!DOCTYPE html>
<html data-theme="lemonade">
  <head>
    <!-- Twitter リンクカード -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="" />
    <meta property="og:url" content="https://enjoy-setsuyaku-app.onrender.com/" />
    <meta property="og:title" content="エンジョイ節約" />
    <meta property="og:description" content="節約中でもできる気分転換を探そう。" />
    <meta property="og:image" content="<%= image_url "top_image.png" %>" />
    <!-- Twitter リンクカードここまで -->
    <title>EnjoySetsuyakuApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="font-kurenaido">
      <main class="container mx-auto mt-28 px-5 flex">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
